@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>About me.</p>

<p>This page will be distributed for an link about the page you want.</p>
<p>This page will contribute to the design and implication of the website.</p>
