@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<phone> 347-834-2528</phone>
<email> Udari36@gmail.com</email>

<address>
    <strong>Contract:</strong> <a href="mailto:udari36@gmail.com">Support@example.com</a><br />
 
</address>
