@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/coffee.svg" alt="Coffee" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
               WELCOME TO THE SITE
                    <a class="btn btn-default" href="http://udariamarasinghe.com/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/city1.svg" alt="City" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    
                  
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/tree1.svg" alt="Trees" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   
                  
                      
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
      
        <ul>
            <li>I created this page using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h6>Github </h6>
        <ul>
            <li><a href="https://github.com/never36">Github link</a></li>
            
        </ul>
    </div>
    <div class="col-md-3">
        <h6>other links</h6>
        <ul>
            <li><a href="http://udariamarasinghe.com/">This is my portfolio page</a></li>
        
        </ul>
    </div>
    <div class="col-md-3">
        <h6>I used other website and resources to create pages like this.</h6>
        <ul>

           
        </ul>
    </div>
</div>
